@import 'confiq';

*{
    font-family: $font;
    box-sizing:none;
}

 body{
 // background-image: #fdfcfb ;
  background-image: linear-gradient(to right, #fdfcfb 0%, #e2d1c3 100%);
 }
nav {
    border-radius: 25px;
}
.c_btn{
    @extend nav;
    background-image: #feada6;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35)
}
.index_text {
      margin-top: 10rem;
      h1,h2{
          color: $text_color !important ;
      }
}
// setting for the home page svg image
.img{
  position: absolute;
  left:-50px;
  top:-195px;
  z-index: -20;
}
.aboutPage{
    color: #390D10!important;
    h2{
        color:#A48484 !important;
    }
    
}
.aboutPage-svg{
      position: absolute;
        left:21rem;
         top:5rem;
       z-index: -20;
    width:50%;
    }
    
    
    .createaccount{
        h2{
            text-align: center;
        }
        .createForms{
        margin-top: 1rem;
        input:not([type='checkbox']){
            width:50%;
        }      
    }
    .img-c{
            position: absolute;
        left:40rem;
         top:-21rem;
       z-index: -20;
    width:50%;
        }
}

.home {
#hello{
   padding-top: 30px !important;
}
#cloudy{
    position:absolute;
    right:140px; 
    top:80px
}
#info{
    position:absolute;
    right:120px;
    top:200px
}
}
.cards{
    
}