@import 'confiq';

*{
    font-family: $font;
   
}
.index_text{
      margin-top: 16rem;
      h1,h2{
          color: $text_color ;
      }
}
.home_background{
   background: #44A08D;  /* fallback for old browsers */
background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mainNav{
    box-sizing: border-box;
   
   
    a{
      color:$text_color !important;
      font-size: 20px;
      &:hover{
          border-bottom: 1px solid $hover_color;
          font-weight: 500;
         transition: ease-in-out all .4s;
         
          
        
      }
    }
}